<!DOCTYPE html>
<html lang="en" style="font-family: Montserrat, sans-serif; font-size: 14px;">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>MonAPI Alerts</title>
</head>

<body style="background-color: #F5F5F5;color: #424242;">
    <div class="main-content-outer" style="padding: 60px; padding-top: 50px; padding-bottom: 50px;">
        <div class="main-content" style="background-color: white;height: max-content;padding: 30px;">
            <h1 style="color: red;">Alerts!</h1>
            <p class="text" style="margin: 25px;">
                Success rate monitor <strong>{{api_monitor_name}}</strong> is <strong style="color: red;">dropping below {{threshold_pct}}%</strong><br>
                Current success rate from {{start_time}} - {{end_time}} is {{success_rate}}%
                You can check the error logs in <a href="{{error_logs_link}}">here</a>.
            </p>
            <h3 style="color: #4B8F8C;">MonAPI Monitoring Platform</h3>
        </div>
    </div>
</body>

</html>