body {
  background-color: #F5F5F5;
  color: #424242;
}

.main-content {
  background-color: white;
  height: max-content;
  padding: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo-head {
  width: 200px;
  display: block;
  margin-right: auto;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.hero-text {
  font-size: 23px;
  font-weight: 400;
  text-align: left;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.ammount,
.bank-acc {
  border: 2px #eeeeee solid;
  border-radius: 15px;
  width: max-content;
  padding: 20px;
  margin: 25px;
}

.tixevent-big {
  color: #ff5722;
  font-weight: 700;
  font-size: 25px;
}

.timeout {
  border: 2px #eeeeee solid;
  border-radius: 15px;
  width: max-content;
  padding: 30px;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
}

td,
th {
  padding: 15px;
  border: 2px #ffffff solid;

}

table {
  background-color: #F5F5F5;
  border: 2px #ffffff solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  font-size: 10px;
  margin: 25px;
}

.buyer-information {
  margin-left: 25px;
}

.contact-footer {
  color: #ff5722;
  font-weight: 600;
  text-align: left;
}

.text {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main-content-outer{
  padding: 30px;
}