asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.9.24
charset-normalizer==2.1.1
coverage==6.4.4
deepdiff==6.2.1
Django==4.1.2
django-cors-headers==3.13.0
djangorestframework==3.13.1
idna==3.4
ordered-set==4.1.0
python-dotenv==0.21.0
pytz==2022.2.1
requests==2.28.1
sqlparse==0.4.2
tzdata==2022.2
urllib3==1.26.12
discord.py==2.0.1
discord-webhook==0.17.0
